[submodule "Reshade/Reshade/fubax-shaders"]
	path = Reshade/Reshade/fubax-shaders
	url = https://github.com/Fubaxiusz/fubax-shaders.git
[submodule "Reshade/fubax-shaders"]
	path = Reshade/fubax-shaders
	url = https://github.com/Fubaxiusz/fubax-shaders.git
[submodule "Reshade/stormshade"]
	path = Reshade/stormshade
	url = https://github.com/Otakumouse/stormshade.git
[submodule "Reshade/3AReal"]
	path = Reshade/3AReal
	url = https://github.com/UTwelve/3AReal.git
