<?xml version="1.0" encoding="UTF-8"?>
<PathOfBuilding>
	<Mode mode="BUILD">
		<Arg string="c:\projects\POB/ArCovan-fe-139.xml"/>
		<Arg string="ArCovan-fe-139"/>
	</Mode>
	<Accounts lastAccountName="SteamCovan" lastRealm="PC">
		<Account accountName="dmytro_cheva"/>
		<Account accountName="SteamCovan"/>
	</Accounts>
	<SharedItems/>
	<Misc betaTest="false" connectionProtocol="0" thousandsSeparator="," showThousandsSeparators="true" slotOnlyTooltips="true" invertSliderScrollDirection="false" showTitlebarName="true" defaultCharLevel="100" nodePowerTheme="RED/BLUE" buildSortMode="NAME" showWarnings="true" defaultItemAffixQuality="0.5" defaultGemQuality="20" decimalSeparator="." buildPath="c:\projects\POB/"/>
</PathOfBuilding>
