<?xml version="1.0" encoding="UTF-8"?>
<PathOfBuilding>
	<Mode mode="BUILD">
		<Arg string="C:\Users\dmytr\Documents/Path of Building/Builds/POB_saves/forbidden-rite.xml"/>
		<Arg string="forbidden-rite"/>
	</Mode>
	<Accounts lastAccountName="dmytro_cheva" lastRealm="PC">
		<Account accountName="dmytro_cheva"/>
	</Accounts>
	<SharedItems/>
	<Misc slotOnlyTooltips="true" showWarnings="true" showTitlebarName="true" defaultItemAffixQuality="0.5" defaultCharLevel="1" nodePowerTheme="RED/BLUE" connectionProtocol="nil" thousandsSeparator="," betaTest="false" decimalSeparator="." defaultGemQuality="0" showThousandsSeparators="true" buildSortMode="NAME"/>
</PathOfBuilding>
